!!!
html
  head
    title= title
    link(rel="stylesheet", href="stylesheets/style.css")
    //if lt IE 9
      script(type="text/javascript", src="/javascripts/excanvas.compiled.js")
    script(type="text/javascript", src="/javascripts/jquery.min.js")
    script(type="text/javascript", src="/javascripts/request_animation_frame.js")
    script(type="text/javascript", src="/javascripts/vector.js")
    script(type="text/javascript", src="/javascripts/canvas_extensions.js")
    script(type="text/javascript", src="/javascripts/keyboard.js")
    script(type="text/javascript", src="/javascripts/mouse.js")
    script(type="text/javascript", src="/javascripts/weapon.js")
    script(type="text/javascript", src="/javascripts/player.js")
    script(type="text/javascript", src="/javascripts/game.js")
    script(type="text/javascript", src="/javascripts/boot.js")
  body
  #game
